table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
  
thead {
    background-color: #9a008a;
    color: white;
}
  
th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
  
th {
    font-size: 18px;
}
  
td button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 7px 15px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
td button:hover {
    background-color: #cc0000;
}
  
td a button {
    background-color: #9a008a;
    padding: 7px 15px;
}
  
td a button:hover {
    background-color: #9a008a;
}